<div class="distribution-list-header">
  <div class="distribution-search-container">
    <input type="text" class="search-box">
  <div class="search-box-icon-wrapper"><span class="icon-search search-box-icon"></span></div>
  </div>
  <div class="distribution-createlist-container">
    <button class="paycor-btn btn-create-list"><span class="icon-plus"></span> Create New List</button>
  </div>
  <div class="clear-float"></div>
</div>

<div class="distribution-list-table">
  <table cellspacing="0" cellpadding="0">
    <tr>
        <th></th>
        <th>Name</th>
        <th>Email</th>
        <th>Date Last Run</th>
        <th>Last Updated</th>
    </tr>
    <tr *ngFor="let item of distributionList; let i = index; let even = even; let odd = odd;"
        [ngClass]="{ oddRows: odd, evenRows: even }">
        <td></td>
        <td>{{item.Name}}</td>
        <td>Example{{i}}@list.com</td>
        <td>{{item.META_DateCreated | date:'MMM dd, yyyy'}}</td>
        <td>{{item.META_DateCreated | date:'MMM dd, yyyy'}}</td>
    </tr>
</table>
</div>