<div class="distribution-list-header">
  <div class="distribution-search-container">
    <input type="text" class="search-box">
  <div class="search-box-icon-wrapper"><span class="icon-search search-box-icon"></span></div>
  </div>
  <div class="distribution-createlist-container">
    <button class="paycor-btn btn-create-list"><span class="icon-plus"></span> Create New List</button>
  </div>
  <div class="clear-float"></div>
</div>

<div class="distribution-list-table">
  <table cellspacing="0" cellpadding="0">
    <tr>
        <th></th>
        <th>Name</th>
        <th>Email</th>
        <th>Date Last Run</th>
        <th>Last Updated</th>
        <th></th>
        <th></th>
    </tr>
    <tr *ngFor="let item of distributionList">
        <td></td>
        <td>{{item.Name}}</td>
        <td>example@list.com</td>
        <td>11/22/2016 9:33AM</td>
        <td>11/02/2016 2:45PM</td>
        <td></td>
        <td></td>
    </tr>
</table>
</div>